.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__logo {
  width: 272px;
}

.header__logo--image {
  width: 145px;
}

.header__search {
  display: flex;
  justify-content: center;
  width: 752px;
}

.header__input {
  width: 752px;
  width: 100%;
  padding: 16px 14px;
  border-radius: 8px;
  background-color: #2D415A;
  border: none;
}

.header__input::placeholder,
.header__input {
  color: #B3BBC4;
  font-family: var(--font-family);
  font-size: 16px;
}

.header__input:focus {
  outline: none;
}

.header__lupa,
.header__menu {
  display: none;
}

.header__user {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  width: 272px;
}

.header__user--image {
  width: 32px;
}

.header__user--name {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--white);

}

@media (max-width: 768px) {
  .header {
    gap: 40px;
  }

  .header__user--image,
  .header__user--name {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

@media (max-width: 375px) {
  .header {
    gap: 8px;
  }

  .header__search {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: end;
    flex-grow: 1;
  }

  .header__input {
    display: none;
  }

  .header__lupa {
    display: block;
  }

  .header__user {
    width: fit-content;
  }
}
