@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "/src/styles/header.css";
@import "/src/styles/main.css";
@import "/src/styles/mainContent.css";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
  --white: #FFFFFF;
  --ligth-blue: #6BD1FF;
  --dark-gray: #141414;
  --mac-red: #FF5F56;
  --mac-yellow: #FFBD2E;
  --mac-green: #27C93F;
}

* {
  font-family: var(--font-inter);
  font-weight: 400;
}

body {
  background-color: rgba(5, 29, 59, 1);
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  gap: 40px;
}

@media (max-width: 375px) {
  body {
    padding: 20px 16px;
  }
}
